html {
    --palette-white: #f9f9f9;
    --palette-dark: #b5b5b5;
    --palette-light: #e5e5e5;
    --palette-accent: #777777;
    --palette-accent-transparent: #777777CC;
    --palette-900: #333333;
    --palette-black: #000000;
    --palette-blue: #3388FF;
    --palette-green: #33AA44;
    --palette-orange: orange;
    --palette-active: var(--palette-orange);
    --font-family: 'open_sansregular','Open Sans',sans_serif;
    --font-size-small: 0.8rem;
    --font-size: 16px;
    --font-size-large: 1.2rem;
    --font-size-extra-large: 1.4rem;
    --font-size-title: 2rem;
    --icon-size-small: 1.2rem;
    --icon-size: 1.4rem;
    --icon-size-large: 1.6rem;
    --icon-size-extra-large: 1.8rem;
    --font-weight: 400;
    --font-weight-bold: 600;
    --line-height: 1.5rem;
    --box-shadow: inset 0px 0px 6px #888888;
    --border-radius: 0.5rem;
    --transition-duration: 0.3s;
    --z-index-base: 0;
    --z-index-interrupt: 2000;

    --map-symbol: var(--palette-blue);
    --map-symbol-alt: var(--palette-green);
    --map-symbol-active: var(--palette-orange);
    --map-bin-0: #e0ecf4;
    --map-bin-1: #bfd3e6;
    --map-bin-2: #9ebcda;
    --map-bin-3: #8c96c6;
    --map-bin-4: #8c6bb1;
    --map-bin-5: #88419d;
    --map-bin-6: #810f7c;
   
    --map-bin-purple-0: #d3c7da;
    --map-bin-purple-1: #b6a4c0;
    --map-bin-purple-2: #9982a7;
    --map-bin-purple-3: #7c618e;
    --map-bin-purple-4: #604275;
    --map-bin-purple-5: #44255c;
    --map-bin-purple-6: #270744;
   
    --map-bin-blue-0: #c6d2e4;
    --map-bin-blue-1: #afbfd7;
    --map-bin-blue-2: #97a9c4;
    --map-bin-blue-3: #7e91ad;
    --map-bin-blue-4: #647691;
    --map-bin-blue-5: #4a5a71;
    --map-bin-blue-6: #313d4e;
   
    --map-bin-green-0: #c8e5de;
    --map-bin-green-1: #b0cec2;
    --map-bin-green-2: #98b7a8;
    --map-bin-green-3: #80a18e;
    --map-bin-green-4: #6a8b75;
    --map-bin-green-5: #54765e;
    --map-bin-green-6: #406058;
      
    --map-bin-brown-0: #e5dfc8;
    --map-bin-brown-1: #c4b6a3;
    --map-bin-brown-2: #a38e80;
    --map-bin-brown-3: #83695f;
    --map-bin-brown-4: #64453f;
    --map-bin-brown-5: #452322;
    --map-bin-brown-6: #2a0000;
}
}